# Local development configuration
# Rename this file to ".env"
PROJECT_ID=CHANGE_ME

# These values don't need to change
LOCATION=global
VECTOR_SEARCH_COLLECTION_ID=news-articles
VECTOR_SEARCH_LOCATION=us-central1
EMBEDDING_MODEL=gemini-embedding-001
SKIP_SCRAPING_IF_CACHED=true